-page_title @employee.name
:css
  .employee-status .label {
    width: 100%;
    display: block;
  }

-content_for :outside do
  -eap = EmployeeAlertPresenter.new(@employee)

  -if eap.alerts.not.empty?
    .alert.alert-warning
      -eap.alerts.each do |alert|
        %h3
          %p
            %b="#{alert[:title]}:"
            =alert[:message]
-content_for :options do
  =link_to 'Edit', edit_employee_path( @employee ), :class => 'btn btn-block btn-primary'
  .spacer
  =link_to 'Certs', employee_certs_path( @employee ), :class => 'btn btn-block btn-default'
  =link_to 'Competencies', employee_competencies_path( @employee ), :class => 'btn btn-block btn-default'
  =link_to 'Compliments', employee_compliments_path( @employee ), :class => 'btn btn-block btn-default'
  =link_to 'Contacts', employee_contacts_path( @employee ), :class => 'btn btn-block btn-default'
  =link_to 'Reprimands', employee_reprimands_path( @employee ), :class => 'btn btn-block btn-default'
  =link_to 'Restrictions', employee_restrictions_path( @employee ), :class => 'btn btn-block btn-default'
  =link_to 'Screenings', employee_screenings_path( @employee ), :class => 'btn btn-block btn-default'

.row
  .col-sm-4
    .text-center=image_tag @employee.picture.url(:medium)
    %h1.employee-status
      -if @employee.status == 'Active'
        .label.label-success Active
      -elsif @employee.status == 'Prospect'
        .label.label-default Prospect
      -else
        .label.label-warning Terminated
        -if @employee.eligible_for_rehire
          .label.label-default Can Rehire
        -else
          .label.label-danger DO NOT Rehire
    .spacer
    %h4 Notes
    -if @employee.notes.any?
      =render @employee.notes
    -else
      %i no notes yet
    .spacer
    .spacer
    =render :partial => 'note_form'
  .col-sm-8
    %h2 Summary
    -@employee.phone_numbers.each do |label, value|
      %h3 #{label}: #{value}
    -if @employee.email
      %h3=link_to @employee.email, "mailto:#{@employee.email}"
    %h3
    %table.table.striped
      -tabular_atts(@employee).each do |n, v|
        %tr
          %th=n
          %td=v
      %tr
        %td Competencies
        %td
          -if @employee.positions.empty?
            .text-muted No positions set.
          -else
            -@employee.competencies.each do |competency|
              %li
                =competency.position.name
                ="(#{number_to_currency(competency.rate)})"
      %tr
        %td Reprimands
        %td=@employee.reprimands.count
      %tr
        %td Last Screening
        %td
          -if @employee.date_of_last_screening
            =time_ago_in_words( @employee.date_of_last_screening )
            ago
          -else
            .text-muted No screenings on file
      %tr
        %td Restrictions
        %td
          -if @employee.restrictions.empty?
            .text-muted No restrictions
          -else
            -@employee.restrictions.each do |restriction|
              %li
                %b=restriction.title
                =restriction.description

    %h2 Jobs:
    %table.table
      -POBSummaryReport.new(employee_id: @employee.id, :start_date => Date.today).data.each do |datum|
        %tr
          %td=datum.project.name
          %td=datum.position.name
          %td
            =datum.onboarding_date.to_s(:md)
            to
            =datum.offboarding_date.to_s(:md)
    =link_to 'More Details', employee_jobs_path(@employee), :class => 'btn btn-info btn-sm'
