!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:charset => "utf-8"}/
    %title
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/

    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,700,300'

    = csrf_meta_tags
  %body{class: [params['controller'], params['action']].join(' ')}
    .visible-xs
      .mobile
    = render :partial => 'layouts/navigation'
    .container
      .row
        .col-md-9.col-md-push-3
          -if content_for? :page_title
            =yield :page_title
          -else
            %h1.page-title=page_title
          = render :partial => 'layouts/message'
          = yield :outside
          -if content_for?(:layout)
            .panel
              .panel-body
                = yield
        .col-md-3.col-md-pull-9
          .hidden-xs.hidden-sm
            -if pad_options?
              %h1 &nbsp;
          =yield :options
      .row
        .col-md-9.col-md-offset-3
          #footer
            = render :partial => 'layouts/footer'
      =render :partial => 'layouts/scrap_modal'

    = javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery?
    = javascript_include_tag 'application'
    = yield :payment_scripts
    = yield :footer
    = yield :scripts
