!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:charset => "utf-8"}/
    %title
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    =render :partial => 'layouts/meta_theme'

    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,700,300'

    = csrf_meta_tags
  %body{class: [params['controller'], params['action']].join(' ')}
    .visible-xs
      .mobile
    = render :partial => 'layouts/navigation'
    .container-fluid
      = yield
  %footer
    .container
      .row
        .col-md-12
          = render :partial => 'layouts/footer'

    = javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery?
    = javascript_include_tag 'application'
    =yield :footer
    =yield :scripts
